{% extends 'base.html.twig' %}

{% block title %}My Platform - Home{% endblock %}

{% block body %}

    <h1> Hello World</h1>
    {% for post in posts %}
    <h2> {{ post.title }}</h2>
        <a href="{{ path("blog_read", {id: post.id}) }}"> Read the post</a>
        <small> {{ post.comments|length }}</small>
    {% endfor %}
{% endblock %}
