<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://www.linkedin.com/in/rami-aouinti-78998a59/"> Mohamed Rami Aouinti</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->